/*Global */
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*end Global*/
body{
    font-family:Arial, Tahoma;
}
.clearfix{
    clear:both;
}

ul{
    list-style: none;
}

/*start header*/
.main{
    background:#333;
    color:#ddd;
    padding:20px;
    text-align:center;
}
/* End header*/
/*start main*/
main{
    background-color:#EEE;
    padding:20px;
}
main p{
    text-align:center;

}
main p span{
    color:#666;
    font-weight:bold;
}
/*end main*/
/*start nav*/
nav{
    background:#ddd;
}
nav ul{
    padding:20px;
    text-align:center;
}
nav ul li{
    display:inline-block;
    
}
nav ul li:after{
    content:"|"

}
nav ul li:last-child:after{
    content:""
}
/*end nav*/
/*start Article*/
.post{
width:70%;
float:left;
}
.post article{
    
    background-color:#f6f6f6;
    border:1px solid #ccc;
    margin:20px;
    
}
.post article header{
    background-color:#e2e2e2;
    
    padding:10px;

}
.post article section{
    padding:10px;
}
.post article section .img-figure{
    background-color:#fff;
    text-align:center;
    padding:10px;
    border:1px solid #ccc;
    margin:10px 0;
}
.post article section code{
    background-color:#fff;
    padding:10px;
    display: block;
    margin:10px 0;
    border:1px solid #ccc;
    max-width:500px;
}
.post article section figure img{
width:500px;
background-color:#ccc;
}
/*End Article*/
/*start aside*/
aside{
    width:30%;
    float:right;
    
    
}
aside section{
    margin:20px 20px;
    padding:10px;
    border:1px solid #ccc;
    background-color:#eee;
}
aside section h3{
    background-color:#d1d1d1;
    padding:10px;
    

}
aside section ul{
    margin-top:10px;
}
aside ul li{
    line-height: 1.6;
}
aside section audio{
vertical-align: middle;
}
/*end aside*/
/*start Footer*/
footer{
    background-color:#333;
    color:#ddd;
    text-align:center;
    padding:10px;
}
/*end footer*/